body {
  margin: 0;
  background-color: #e8f5e9;
}

#banner {
  /* margins */
  margin-left: auto;
  margin-right: auto;
  /* positioning */
  position: relative;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #00600f;
  box-shadow: 0 -5px 60px;
}

#logo {
  width: 150px;
  /* margins */
  margin-left: auto;
  margin-right: auto;
}

#nav_holder {
  /* Sizing */
  width: 100%;
  margin-top: 10px;
  padding: 0;
  /* styling */
  display: inline-block;
}

#nav_menu {
  /* margins */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  /* positioning */
  float: right;
  clear: left;
  position: relative;
  right: 50%;
  line-height: 50px;
}

.nav_item {
  list-style: none;
  float: left;
  position: relative;
  left: 50%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;

  transition: background 0.15s ease-in;
}

.nav_item:hover {
  background-color: #43a047;
}

.nav_link {
  text-decoration: none
}

.nav_link:link {
  color: black;
}

.nav_link:visited {
  color: black;
}

#main_box {
  /*Sizing*/
  width: 70%;
  height: auto;
  /* styling */
  background: #d5d5d5;
  box-shadow: inset 0 0 10px #000000;
  text-align: center;
  border-radius: 5px;
  /* Padding */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* margins */
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* positioning */
  float: right;
  position: relative;
}

.MB_heading {
  font-family: sans-serif;
}

.MB_text {
  font-family: sans-serif;
  text-align: left;
}

#side_box {
  /* Sizing */
  width: 22%;
  height: auto;
  /* styling */
  background: #d5d5d5;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 5px;
  /* positioning */
  position: relative;
  float: left;
  /* Padding */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  /* margins */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: 10px;
}

.SB_heading{
  font-family: sans-serif;
}
